{% extends "master.html" %}
{% load static %}
{% block title %}Request Blood{% endblock %}
{% block content %}

<div class="appointment-form">
  <div class="form-card">
    <div class="form-header text-center mb-4">
      <h2>Submit Blood Request</h2>
      <p>Fill in the details to request blood for transfusion.</p>
    </div>

    <form method="post" class="request-blood-form">
      {% csrf_token %}
      {{ form.as_p }}
      <p><strong>Blood Group:</strong> {{ request.user.patientprofile.blood_group }}</p>
      <button type="submit" class="btn-add">Request</button>
      <a href="{% url 'patient_dashboard' %}" class="btn-cancel">Cancel</a>
    </form>


  </div>
</div>

{% endblock %}